.PauseTitle {
    font-size: 100px;
    color: rgb(0, 255, 220);
}

.PauseButton {
    font-size: 72px;
    margin-left: 75px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-duration: 0.2s;
}

.PauseButton:hover {
    scale: 1.25 1.25;
    transform-origin: left;
}
