.buttonStyle {
    background-color: rgba(0, 0, 0, 0);
    font-size: 72px;
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    transition-duration: 0.2s;
}

.buttonStyle:hover {
    transition-duration: 0.2s;
    scale: 1.25 1.25;
}

.sliderStyle {
    font-size: 32px;
    color: rgba(255, 255, 255, 255);
    flex-direction: column;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 21px;
    padding-bottom: 21px;
    justify-content: flex-start;
    align-items: flex-start;
}

.textStyle {
    font-size: 72px;
    color: rgba(0, 174, 255, 255);
    -unity-text-align: upper-center;
    -unity-font-style: italic;
}

.unity-base-slider__tracker {
}

.unity-base-slider__dragger {
    opacity: 1;
}
