.menu-button:hover {
    rotate: -10deg;
    color: rgb(255, 0, 0);
    font-size: 80px;
    transition-duration: 0.3s;
}

.menu-button {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 72px;
    color: rgba(255, 255, 255, 255);
}
